.list {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 30vw;
  height: 50vh;
}

.list h3 {
  font-size: 2.5rem;
  border-bottom: 1px solid #111;
}

.list button {
  border: 1px solid #e1e1e1;
  border-radius: 0.3rem;
  background-color: #fff;
  width: 100%;
  height: 2.5rem;
  text-align: left;
  cursor: pointer;
  transition: 1s all;
}

.list button:hover {
  background-color: rgba(206, 206, 206, 0.616);
}
