<header class="fixed-top">
  <nav class="d-flex justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center col-sm-3">
      <h1>AURALEE</h1>
    </div>

    <div
      class="d-flex justify-content-between align-items-center col-sm-4"
      id="nav"
    >
      <a href="/men">MEN</a>
      <a href="/women">WOMEN</a>
      <a href="/collection">COLLECTION</a>
      <a href="/material-matters">MATERIAL MATTERS</a>
      <a href="/projects">PROJECTS</a>
    </div>

    <div
      class="d-flex justify-content-end align-items-center col-sm-5"
      id="outher-group"
    >
      <a class="m-2" href="">Cart</a>
      <a class="m-2" href="">Search</a>
      <a class="m-2" href="#">Login</a>
    </div>
  </nav>
</header>
