.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;

  width: 90%;
  height: 5rem;
  list-style: none;
  box-shadow: 10px 10px 57px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 10px 10px 57px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 10px 10px 57px -1px rgba(0, 0, 0, 0.12);
}

.card button {
  width: 5rem;
  height: 2.5rem;
  border: none;
  transition: 1s all;
}

.card button:hover {
  color: #fff;
  background-color: #111;
}
